<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>Rạp Và Phòng</title>
</head>
<body>
<div layout:fragment="content">
    <span id="admin-content"></span>
    <span id="error"></span>
    <h3 class="mb-3 text-center">Thêm Phòng Cho Rạp</h3>
    <form method="post" th:action="${('')}" id="submit-cinema-room">
        <div style="margin-left: 8.333333%;"><button type="submit" class="btn btn-success btn-md">Lưu Lại</button></div>
        <div class="row">
            <div class="col-sm-5 offset-1">
                <div class="form-group">
                    <span id="cinema-room-content"></span>
                    <label style="color: red;font-weight: bold">Chọn Phim Muốn Thêm: </label><br/>
                    <table class="table table-bordered text-center">
                        <thead class="table-info">
                            <tr>
                                <th>STT</th>
                                <th class="d-flex justify-content-between pr-3">Tên Phim <input type="checkbox" id="checkAllMovie"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="checkmovie" th:each="cinemamovie : ${cinemamovies}">
                                <td th:text="${cinemamovieStat.index + 1}" style="vertical-align: middle"></td>
                                <td>
                                    <strong th:text="${cinemamovie.getCinema().name}" style="color: #005cbf"></strong>
                                    <div class="row">
                                        <div class="col-10">
                                            <li>
                                                <span th:text="${cinemamovie.getMovie().name}"></span>
                                            </li>
                                        </div>
                                        <div class="col-2">
                                            <input name="cinema" type="checkbox" class="checkbox-moviecinema" th:value="${cinemamovie.id}"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5">
                <label style="color: red;font-weight: bold">Chọn Phòng Muốn Thêm: </label><br/>
                <table class="table table-bordered">
                    <thead class="table-info">
                    <tr>
                        <th>STT</th>
                        <th>Tên Phòng</th>
                        <th><input type="checkbox" id="checkAllRoom"/></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="room : ${rooms}" class="checkroom">
                            <td th:text="${roomStat.index + 1}"></td>
                            <td><strong th:text="${room.name}"></strong></td>
                            <td><input name="room" type="checkbox" class="checkbox-room" th:value="${room.id}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
</html>