<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body>

<div layout:fragment="content">
    <h3 class="mb-3">Danh sách quyền</h3>
    <div class="row">
        <div class="col-md-8">
            <a th:href="@{/admin/role/add}" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover mt-3">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên Quyền</th>
            <th>Mô Tả</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${roles.empty}">
                <td colspan="4">Không có role nào</td>
            </tr>
            <tr th:each="role : ${roles}">
                <td th:text="${roleStat.index + 1}"></td>
                <td th:text="${role.name}"></td>
                <td th:text="${role.description}"></td>
                <td>
                    <a th:href="@{/role/update/{id}(id=${role.id})}" class="btn btn-sm btn-info">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


</body>
</html>